#jinja2: trim_blocks:False
network_config:
- type: ovs_bridge
  name: br-ctlplane
  mtu: {{ interface_mtu }}
  use_dhcp: false
  dns_servers:
  {% if dns_server %}
  - {{ dns_server }}
  {% endif %}
  - {{ gateway_ip }}
  domain: []
  addresses:
  - ip_netmask: {{ ctlplane_ip }}/{{ ctlplane_cidr }}
  - ip_netmask: {{ ctlplane_ip }}/128
  - ip_netmask: {{ ctlplane_vip }}/128
  {% if standalone_vm|default(true) %}
  routes:
  - ip_netmask: ::/0
    next_hop: {{ gateway_ip }}
  {%- for route in additional_host_routes %}
  - ip_netmask: {{ route }}
    next_hop: {{ ctlplane_ip }}
  {% endfor %}
  {% endif %}
  members:
  - type: interface
    name: {{ os_net_config_iface | default(nic1) }}
    mtu: {{ interface_mtu }}
    # force the MAC address of the bridge to this interface
    primary: true
  # external
  - type: vlan
    mtu: {{ interface_mtu }}
    vlan_id: 44
    addresses:
    - ip_netmask: fd00:eeee::{{ ip_address_suffix }}/64
    - ip_netmask: fd00:eeee::2/128
    routes: []
  # internal
  - type: vlan
    mtu: {{ interface_mtu }}
    vlan_id: 20
    addresses:
    - ip_netmask: fd00:bbbb::{{ ip_address_suffix }}/64
    - ip_netmask: fd00:bbbb::2/128
    routes: []
  # storage
  - type: vlan
    mtu: {{ interface_mtu }}
    vlan_id: 21
    addresses:
    - ip_netmask: fd00:cccc::{{ ip_address_suffix }}/64
    - ip_netmask: fd00:cccc::2/128
    routes: []
  # storage_mgmt
  - type: vlan
    mtu: {{ interface_mtu }}
    vlan_id: 23
    addresses:
    - ip_netmask: fd00:dede::{{ ip_address_suffix }}/64
    - ip_netmask: fd00:dede::2/128
    routes: []
  # tenant
  - type: vlan
    mtu: {{ interface_mtu }}
    vlan_id: 22
    addresses:
    - ip_netmask: fd00:dddd::{{ ip_address_suffix }}/64
    routes: []
