- name: Storage
  mtu: 1500
  vip: true
  ipv6: true
  vlan: 21
  name_lower: storage
  dns_domain: storage.mydomain.tld.
  service_net_map_replace: storage
  subnets:
    storage_subnet:
      ipv6_subnet: 'fd00:cccc::/64'
      ipv6_allocation_pools: [{'start': 'fd00:cccc::4', 'end': 'fd00:cccc::150'}]
      vlan: 21

- name: StorageMgmt
  mtu: 1500
  vip: true
  ipv6: true
  vlan: 23
  name_lower: storage_mgmt
  dns_domain: storagemgmt.mydomain.tld.
  service_net_map_replace: storage_mgmt
  subnets:
    storage_mgmt_subnet:
      ipv6_subnet: 'fd00:dede::/64'
      ipv6_allocation_pools: [{'start': 'fd00:dede::4', 'end': 'fd00:dede::150'}]
      vlan: 23

- name: InternalApi
  mtu: 1500
  vip: true
  ipv6: true
  vlan: 20
  name_lower: internal_api
  dns_domain: internal-api.mydomain.tld.
  service_net_map_replace: internal_api
  subnets:
    internal_api_subnet:
      ipv6_subnet: 'fd00:bbbb::/64'
      ipv6_allocation_pools: [{'start': 'fd00:bbbb::4', 'end': 'fd00:bbbb::150'}]
      vlan: 20

- name: Tenant
  vip: false  # Tenant network does not use VIPs
  name_lower: tenant
  ipv6: true
  mtu: 1500
  subnets:
    tenant_subnet:
      ipv6_subnet: fd00:dddd::/64
      ipv6_ipv6_allocation_pools:
        - start: fd00:dddd::100
          end: fd00:dddd::150
      vlan: 22
  dns_domain: tenant.mydomain.tld.
  service_net_map_replace: tenant

- name: External
  mtu: 1500
  vip: true
  ipv6: true
  vlan: 44
  name_lower: external
  dns_domain: external.mydomain.tld.
  service_net_map_replace: external
  subnets:
    external_subnet:
      ipv6_subnet: 'fd00:eeee::0/24'
      ipv6_allocation_pools: [{'start': 'fd00:eeee::4', 'end': 'fd00:eeee::150'}]
      vlan: 44
